@using ETicaretDataKatmanı.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ETicaretUIKatmanı</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="~/ETicaretUIKatmanı.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" />

</head>
<body>
    <header>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">YSL 7</a>
            <!-- Navbar-->
            <ul class="navbar-nav me-auto">
                @if (User.Identity.Name == null)
                {
                    @* <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="List">Admin Paneli</a>
                            </li> *@
                }
                else
                {
                    if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">Admin Paneli</a>
                        </li>
                    }
                }
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item position-relative">
                    <a asp-action="Index" asp-controller="Cart" class="nav-link">
                        <i class="fa-solid fa-shopping-cart cart-icon"></i>
                        @if (SessionHelper.Count > 0)
                        {
                            <span class="badge-cart">@SessionHelper.Count</span>
                        }
                    </a>
                </li>
                @if (User.Identity.Name == null)
                {
                    
                }
                else
                {
                    <li class="nav-item">
                        <a asp-action="Profile" asp-controller="Account" class="nav-link">@User.Identity.Name</a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                }
            </ul>
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        @if (User.Identity.Name == null)
                        {
                            <li class="dropdown-item">
                                <a asp-action="Login" asp-controller="Account" class="btn btn-custom btn-login">Giriş Yap</a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li class="dropdown-item">
                                <a class="btn btn-custom btn-register" asp-action="Register" asp-controller="Account">Kayıt Ol</a>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown-item">
                                <a asp-action="Profile" asp-controller="Account" class="dropdown-item">@User.Identity.Name</a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <form asp-controller="Account" asp-action="LogoutPost" method="post">
                                <button type="submit" class="dropdown-item">Çıkış Yap</button>
                            </form>
                        }
                        

                    </ul>
                </li>
            </ul>
                        
        </nav>
    </header>
    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer mt-5">
        <div class="container">
            &copy; 2025 - ETicaretUIKatmanı - <a href="#" class="text-light">Privacy</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

